OPEN_API_KEY=
URL_MYSQL=
USER_MYSQL=
PASSWORD_MYSQL=
DB_MYSQL=
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require
DIRECT_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require
PORT=4000
DEEP_SEEK_API_KEY=
DEEP_SEEK_BASE_URL=
REDIS_USER=
REDIS_PASSWORD=
PINECONE_API_KEY=
VOYAGEAI_API_KEY=
